flex-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.container {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

#computing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#caption {
	background-color: #1e90ff;
}

form {
	padding: 10px;
	width: 300px;
	border: 1px solid black;
	text-align: left;
}

#computing form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	width: 100%;
	padding: 10px 0 10px 0;
}

.box label {
	font-weight: bold;
}
.box input {
	width: 100%;
}

.err{
    /* border: 2px solid red; */
    border-left: 3px solid;
    border-left-color: red;
}

.box:last-child {
	align-self: flex-start;
}
